Redirect /+ https://plus.google.com/101203115306386755750
Redirect /f https://www.facebook.com/peter.s.ng
Redirect /t https://twitter.com/petersng
Redirect /fl http://www.flickr.com/photos/hseikaly
Redirect /l http://www.linkedin.com/in/petersng
